html, body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: bold;
}

.flex-container {
    display: flex; 
    flex-direction: column; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.check {
    /* width: auto; */
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    margin-top: 3%;
}

.flex-container-1 {
    display: none; 
    flex-direction: column; 
    height: 45vh;
    width: 100%; 
    margin-top: 5%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 3%;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first {
    display: flex;
    align-items: center;
    width: 35%;
}

#info {
    margin-left: 10%;
    font-size: 1.25rem;
}

#link {
    margin-right: 2%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%
}

.flex-content {
    display: flex; 
    justify-content: space-around;
    margin-top: 2%;
}

a {
    background-color: purple;
    color: white;
    padding: 10px;
    text-decoration: none;
}

label {
    font-weight:bold;
}

h6 {
    font-size: 1.25rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem; 
    font-weight: bold;
}

@media (max-width:1200px) {
    .flex-container {
        width: 70%; 
        margin-left: 15%;
        margin-right: 15%;
    }
    .first {
        width: 70%;
    }
}

@media (max-width:800px) {
    .flex-container {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;

    }
}

